@font-face {
    font-family: BPG Nino;
    src: url('../fonts/bpg_nino_mtavruli_bold.ttf');
}

 

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

h1{
   color:#fff;
   font-family: BPG Nino;
   font-size: 25px;
   text-align: center;
   text-decoration: line-through;
   text-shadow: 2px 2px 6px #110ebe;
   line-height: 1.2;
   letter-spacing: 3px;
   /* width: 300px; */
   /* overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap; */

}

#heads {
    color: blue;
}


.texttransform{
    font-family: 'Ephesis', cursive;
    text-transform: capitalize;
}
 

button{
   border: none;
   background-color: transparent;
}

.red{
    background-color: rgba(255, 0, 0, 0.233);
}

.blue{
    background-color: blue;
}

.gre{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.homehader{
    background-color: #110ebe;
    /* background: linear-gradient(90deg, rgba(4,9,15,1) 16%, rgba(37,16,177,1) 78%); */
    background-image: url('../img/sta-je-html.jpg');
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    background-attachment: fixed;

}

.sm{
     text-align: center;
     background: linear-gradient(90deg, rgba(4,9,15,1) 16%, rgba(37,16,177,1) 78%);
}