@font-face {
    font-family: BPG Nino;
    src: url('../fonts/bpg_nino_mtavruli_bold.ttf');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
 
 
 
 
}

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

h1{
   color:#fff;
   font-family: BPG Nino;
   font-size: 25px;
   text-align: center;
   text-decoration: line-through;
   text-shadow: 2px 2px 6px #110ebe;
   line-height: 1.2;
   letter-spacing: 3px;
   /* width: 300px; */
   /* overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap; */

}

#heads {
    color: blue;
}


.texttransform{
    font-family: 'Ephesis', cursive;
    text-transform: capitalize;
}
 

button{
   border: none;
   background-color: transparent;
}

.red{
    background-color: rgba(255, 0, 0, 0.233);
}

.blue{
    background-color: blue;
}

.gre{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.homehader{
    background-color: #110ebe;
    /* background: linear-gradient(90deg, rgba(4,9,15,1) 16%, rgba(37,16,177,1) 78%); */
    background-image: url('../img/sta-je-html.jpg');
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}

.sm{
     text-align: center;
     background: linear-gradient(90deg, rgba(4,9,15,1) 16%, rgba(37,16,177,1) 78%);
}

section{ 
    margin: 50px 40px   60px 78px;
    width: 80%;
    background-color: #110ebe;
    padding: 50px;
}

h1{
   
    margin-block-start:0;
    margin-block-end: 0;
}

.card{

    box-shadow: 3px 8px 17px #cccccca3;
    border-radius: 8px;
}

.card-body{
    padding: 12px;
}

.title{
    color: #ccc;
    font-size: 21px;
}

.descr{
    color: #ccc;
    font-size: 14px;
}
 
.w-100{
    width: 100%;
    border-radius: 8px 8px 0 0;
 
}

.more{
    display: block;
    padding: 7px;
    text-decoration: none;
    color: #ccc;
    border-width: 1px;
    text-align: center;
    border:1px solid #ccc;
}

.content{
    width: 1100px;
    margin: auto;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col{
    padding: 0 15px;
    margin-top: 30px;
    width: 33.3333333%;
}

 .flexrow{
     display: flex;
 }

 .inline-block{
     display: inline-block;
 }

 .inline-block a{
   text-decoration: 0;
   margin: 0 7px;
   color: #fff;
   font-family: BPG Nino;
 } 

 nav{
     background-color: chartreuse;
 }

 nav ul{
     margin-left: auto;
 }

 .card{
     position: relative;
 }

 .time{
     position: absolute;
     padding: 17px;
     background-color: green;
     left: 0;
 }

 /* nav{
     position: fixed;
     width: 100%;
     z-index: 10;
 } */

 .styck{
     position: sticky;
     top: 0;
     background-color: #110ebe;
     height: 30px;
 }

 .vv{
     height: 550px;
 }

 .mycard{
     width: 30%;
     margin: 0 auto;
     height: 400px;
     background-color: rgb(22, 20, 17);
     transition: all .6s;
     background-image: url('../img/logo.png');

 }

/* მოუსის მიტანა ელემენტზე */
 .mycard:hover{
    height:600px;
    background-color: rgb(9, 255, 50);
    border-radius: 50px;
    background-image: url('../img/sta-je-html.jpg');
 }

 /* კურსორის  შეტანა ინფუთში  (მარტო ინფუთი)*/
 .sms:focus{
    height:66px;
    background-color: rgb(9, 255, 50);
 }

 
 /* კლიკის დროს */
.fc:active{
    background-color: red;
}
 
 /*  მონახულებული ლინკი (a ტეგი)*/
a:visited{
    color: green;
}


 /*  select კლასის შიგნით არსებულ ყველა p ტეგს ასელექტებს*/
.select  p{
    color: red;
  
}

 /*  select კლასის შიგნით არსებულ უშუალო შვილობილ  p ტეგს ასელექტებს*/
 .select > p{
    color: green;
}


 /*  select კლასის შემგომ (ქვედა მეზობელ) h1   ასელექტებს პირველივეს*/
.select + h1{
    background-color: #110ebe;
}

 /*  select კლასის შემგომ (ქვედა მეზობელ) h1   ასელექტებს ყველა*/
 .select ~ h1{
    background-color: #110ebe;
}

.mycards{
    width: 400px;
    background-color: antiquewhite;
   
}

img{
    width: 100%;
    display: block;
}

.mycards:hover{
    box-shadow: 7px 7px 4px #000;
} 

.mycards span {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color: #fff;
    right: 10px;
    top: 10px;
}

.rel{
    position: relative;
}

.phot{
    position: absolute;
    background-color: black;
    color: #fff;
    bottom: 0px;
}

/* pseudo element */

.pselement{
    width: 500px;
    margin: auto;
}

.myp:not(.reds){
    font-size: 25px;
}

.myp:first-child{
    color: red;
}

.myp:last-child{
    color: red;
}

.myp:nth-child(2){
    color: green;
}


.myp:nth-child(odd){
    background-color: indigo;
}
 

.myp:nth-child(even){
    background-color: rgb(8, 11, 29);
}

input[name="test"]:checked  + p{

    background-color: green;

}


footer{
    height: 200px;
  
    width: 100%;
    bottom: 0;
    background-color: #110ebe;
}

.input-group{
    position: relative;
    display: flex;
}

  .btn:hover{
  background-color: aqua;
}

  input:hover{
   border:1px solid aqua;
  }

.input-group input + label {
    position: absolute;
    top: 16%;
    left: 15px;
    pointer-events: none;
}

.input-group input:focus + label{
    position: absolute;
    top: -40%;
    background-color: #110ebe;
}

.pars{
    width: 400px;
    margin:50px  auto;

}

input{
    padding: 11px;
    border-radius:  10px 0  0 10px;
    border: 2px solid #ccc;
    border-right: 0;
}

.btn {
    
    background-color: #110ebe;
    color: #fff;
    padding: 11px;
    border-radius: 0 10px 10px 0;

}



:focus{
    outline: 0;
}

/* resposnive */

 
/* ეშვება 800px ქვევით */
@media (max-width:900px){

    .col {
        
        width: 50%;
    }

}


@media (max-width:500px){

    .col {
        
        width: 100%;
    }

}


/* ეშვება 1500px ზევით */
@media print and (min-width:1500px){

.media{
    color: red;
}
    
    
    }
/* დიაპაზონი 800 დან 1500 მდე */
    @media (min-width:800px) and (max-width:1500px){

body{
    background-color: rgb(255, 1, 1);
}
  }